// --- Configuration ---
// https://wiki.archlinux.org/title/rofi
// https://github.com/davatorium/rofi/blob/next/doc/rofi.1.markdown
// https://github.com/davatorium/rofi/blob/next/doc/default_configuration.rasi

configuration {
  modi: [ window, drun, run, combi ];
  combi-modes: [ window, drun, run ];
  show-icons: true;
  font: "hack 10";
}

// --- Theme ---
// https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown
// https://github.com/davatorium/rofi/blob/next/doc/default_theme.rasi

@theme "DarkBlue"
